{# src/LOUVRE/TicketBundle/Resources/views/Emails/confirmationReservation.html.twig #}
<h1>Musée du louvre</h1>

<p>Bonjour, vous avez reservé un billet pour la date du: {{dateDeResevartion}}, pour un montant de {{tarif}}€</p>

<p>Pour les visiteurs suivant</p>
<ul>
  {% for visiteur in listVisiteurs %}
  	<li>Visiteur N°{{loop.index}}</li>
    <span>{{ visiteur.nom }}</span>
    <span>{{ visiteur.prenom }}</span>
  {% endfor %}
</ul>


<span>Cordialement Musée du LOUVRE</span>