{# src/LOUVRE/TicketBundle/Resources/views/Emails/confirmationReservation.html.twig #}
<h1>Musée du louvre</h1>
<img src="{{urlImage}}">

<p>Bonjour, vous avez reservé un billet pour la date du: {{dateDeResevartion}}, pour un montant de {{tarif}}€</p>

<p>Pour les visiteurs suivant</p>
<ul>
  {% for visiteur in listVisiteurs %}
  	<li>Visiteur N°{{loop.index}}</li>
    <span>{{ visiteur.nom }}</span>
    <span>{{ visiteur.prenom }}</span>
    <span> Né(e) le {{ visiteur.datedenaissance|date('d/m/Y') }}</span>
    {% if visiteur.tarifreduit %}
    <span> Avec un tarif réduit</span>
	{% endif %}
  {% endfor %}
</ul>

<p>Code de la réservation : {{codeReservation}}</p>

<span>Cordialement Musée du LOUVRE</span>

