{# src/Louvre/TicketBundle/Resources/views/Commande/payement.html.twig #}

{% extends "LOUVRETicketBundle::layout.html.twig" %}

{% block title %}{{ parent() }}- commande du billet{% endblock %}

{% block body %}
<script src="https://checkout.stripe.com/checkout.js"></script>
{{ include("LOUVRETicketBundle:Commande:recapitulatif.html.twig") }}
<button id="payerButton" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Payer</button>
<button id="supprimerButton" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler la réservation</button>

<script>
var handler = StripeCheckout.configure({
  key: '{{clestripe}}',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    $.post('',{ token: token.id, mail: token.email},function(){

      var url="http://localhost/SymfonyP3/web/app_dev.php/finalisation/"+{{id}};
      
      window.location.replace(url);
      
    });
  }
});

document.getElementById('payerButton').addEventListener('click', function(e) {
  // Open Checkout with further options:
  handler.open({
    name: 'Musée du Louvre',
    description: 'entrez vos informations bancaires',
    amount: {{amount}},
    currency: 'EUR',
    email: '{{email}}',
    allowRememberMe: false,
    
  });
  e.preventDefault();
});

document.getElementById('supprimerButton').addEventListener('click',function(){

var url="http://localhost/SymfonyP3/web/app_dev.php/delete/"+{{id}};
      
      window.location.replace(url);    

});

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {

  handler.close();
  
});


</script>
{% endblock %}


