{# src/Louvre/TicketBundle/Resources/views/Commande/payement.html.twig #}

{% extends "LOUVRETicketBundle::layout.html.twig" %}

{% block title %}{{ parent() }}- paiement du billet{% endblock %}

{% block body %}
<script src="https://checkout.stripe.com/checkout.js"></script>
{{ include("LOUVRETicketBundle:Commande:recapitulatif.html.twig") }}
<button id="payerButton" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Payer</button>
<button id="supprimerButton" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Annuler la réservation</button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
$(function() {

  var handler = StripeCheckout.configure({
  key: '{{clestripe}}',
  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
  locale: 'auto',
  token: function(token) {
    $.post('',{ token: token.id, mail: token.email},function(){

      
      var url='http://localhost/SymfonyP3/web/app_dev.php/finalisation/{{code}}';
      console.log(url);
      //window.location.replace(url);

      $('body').html('<img src="http://www.mediaforma.com/sdz/jquery/ajax-loader.gif">');
      $('body').load(url);
      
    });
  }
});

  if ('{{statusCommande}}'=='1') {

    $('#supprimerButton').replaceWith('<button id="redirectionHome" class="btn btn-success"><span class="glyphicon glyphicon-calendar"></span>Commander un nouveau billet</button>');

    $('#payerButton').addClass('disabled btn btn-warning');
    $('#payerButton').text('Commande Payée');

    $('#redirectionHome').click(function() {

      $('#redirectionHome').addClass('disabled');
      window.location.replace('http://localhost/SymfonyP3/web/app_dev.php/reservation');

    });
  }

  else {
    $('#payerButton').click(function(e) {
      
      handler.open({
        name: 'Musée du Louvre',
        description: 'entrez vos informations bancaires',
        amount: {{amount}},
        currency: 'EUR',
        email: '{{email}}',
        allowRememberMe: false,
        
      });
      e.preventDefault();
    });

     $('#supprimerButton').click(function(){

    var url="http://localhost/SymfonyP3/web/app_dev.php/delete/{{code}}";
          
          window.location.replace(url);    

    });
    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {

      handler.close();
      
    });
  }  
});


</script>
{% endblock %}


